table {
font-size:1rem;
color:#333333;
border-width: 1px;
border-color: rgba(84,100,93,18%);
border-collapse: collapse;
width:auto;
}
table tr {
border-width: 1px;
border-style: solid;
border-color: rgba(84,100,93,18%);
}
table td {
font-size:1rem;
border-width: 1px;
padding: 8px;
border-style: solid;
border-color: rgba(84,100,93,18%);
text-align:center;
}
tbody{
    tr:nth-child(2n){
      background-color: #FAFAFA;
    }
​
    tr:nth-child(2n+1){
      background-color: #FFFFFF;
    }
}

